nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav {
    background-color: rgba(255, 255, 0);
    padding: 0.2rem 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.project-card {
    width: 30%;
    border: 2px solid green;
    border-radius: 7px;
    padding: 5px;
}

.project-card:hover {
    background-color: green;
}

.project-card-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.cta-no-action {
    padding: 8px;
    border: none;
    background-color: green;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@media(max-width: 768px) {
    body {
        background-color: orange;
    }
}

@media(min-width: 1200px) {
    body {
        background-color: whitesmoke;
    }
}

img {
    width: 100%;
}

.my-foot {
    margin-top: 60px;
    background-color: black;
    padding: 15px 20px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}
